.App {
  text-align: center;
  font-family: "Courgette", cursive;
  font-family: "Gowun Dodum", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Patrick Hand", cursive;
  background-image: url("../src/images/castle.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.square-container {
  width: 300px;
  margin: 0 calc(50% - 150px);
  //background-color: #61dafb;
  display: flex;
  flex-direction: column;
  h1 {
    color: white;
    margin-top: 0;
  }

  .button-row {
    width: 300px;
    margin: 5px;
    .button {
      padding: 10px 20px;
      background-color: rgb(240, 219, 239);
      color: rgb(61, 37, 60);
      font-weight: bolder;
      border: none;
    }
    .button:hover {
      background-color: rgb(128, 88, 125);
      color: rgb(32, 13, 29);
      border: none;
      color: white;
    }
  }
}

.table-row {
  width: 300px;
  margin: 0 calc(50% - 150px);
}
.table {
  margin-left: 20px;
}
.winner-history-row {
  display: flex;
  flex-direction: row;
  width: 300px;
  background-color: rgb(102, 14, 85, 0.7);
  color: white;
}
.winner-row {
  width: 300px;
  border: 2px dotted white;
  display: flex;
  background-color: rgba(175, 126, 165, 0.7);
  color: white;
  display: flex;
  justify-content: center;
  font-size: 30px;
}
span {
  font-size: 10px;
}
.square {
  border: 2px solid rgb(237, 207, 232);
  float: left;
  font-size: 40px;
  height: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
  background-color: rgba(218, 177, 210, 0.7);
}
.winner-history-row {
  background-color: rgba(160, 122, 147, 0.8);
}
